DB_USER=kpi_user
DB_PASSWORD=kpi_password
DB_NAME=kpi_dashboard
DB_PORT=5433

NODE_ENV=development
PORT=4000

NEXT_PUBLIC_API_URL=http://localhost:4000

DATABASE_URL_EXTERNAL=postgresql://kpi_user:kpi_password@localhost:5433/kpi_dashboard